{% extends 'base.html.twig' %}

{% block body %}
    <h1>Address</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ address.id }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ address.city }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ address.street }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ address.number }}</td>
            </tr>
            <tr>
                <th>Apartmentnumber</th>
                <td>{{ address.apartmentNumber }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('address_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
